{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Log Stack</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      />
<script>
        function popup(){
            var url = "{% url 'directlist_received' %}";
            var name = "쪽지함";
            var option = "location=no, directories=no, status=no, toolbar=no, menubar=no, scrollbars=no, resizable=yes, width=550, height=800";
            window.open(url, name, option);
        }
</script>
<style>
    .navbar-item{
        font-size:18px;

    }
    body{
     font-family: 'Titillium Web', sans-serif;
    }
    .navbar{
       margin-top:10px;
    }
    .logo {
    display: flex;
    flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-right: 10px;
    }

</style>
<body>
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
<!--        <div class="navbar-brand">-->
        <strong class="logo"><p style="font-family: 'Montserrat', sans-serif; "><a href="{% url 'schedule-index' %}" style="text-decorations:none; color:inherit;">LOGSTACK</a></p></strong>
<!--            <img src="{% static 'img/logstack.png' %}" width="122" height="104">-->

<!--            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"-->
<!--               data-target="navbarBasicExample">-->
<!--                <span aria-hidden="true"></span>-->
<!--                <span aria-hidden="true"></span>-->
<!--                <span aria-hidden="true"></span>-->
<!--            </a>-->
<!--        </div>-->

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Schedule
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'schedule-register' %}">
                            Register Schedule
                        </a>
                        <a class="navbar-item" href="{% url 'schedule-index' %}">
                            Show Schedule
                        </a>

                        <!-- 팀장 -->
<!--                        {% if team_manager %}-->
<!--                        <hr class="navbar-divider">-->
<!--                        <a class="navbar-item" href="{% url 'schedule-approved' %}">-->
<!--                            Approve Schedule-->
<!--                        </a>-->
<!--                        {% endif %}-->
                        <!-- end -->
                    </div>
                </div>

                <a href="{% url 'work_log_list' %}" class="navbar-item">
                    Work Log
                </a>

                {% if not team_manager %}
                <a href="{% url 'work_hour_check' %}" class="navbar-item">
                    Work Hour
                </a>
                {% endif %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Staff
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'search' %}">
                            Search Staff

                        </a>

                        <!-- 팀장 -->
                        {% if team_manager %}
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'createteam' %}">
                            Create Team
                        </a>
                        <a class="navbar-item" href="{% url 'createposition' %}">
                            Create Position
                        </a>
                        <a class="navbar-item" href="{% url 'createuser' %}">
                            Create Staff Account
                        </a>
                        <a class="navbar-item" href="{% url 'manage_list' %}">
                            Manage Staff
                        </a>
                        {% endif %}
                        <!-- end -->
                    </div>
                </div>
            </div>

            <div class="navbar-end" style="padding-right:12px;">
<!--                <div class="navbar-item">-->
                    <div class="buttons">
                        <!-- log in 안했을 시-->
                        <!--                    <a class="button is-light">-->
                        <!--                        Log in-->
                        <!--                    </a>-->
                        <!-- end -->

                        <!-- log in 했을 시-->
                        {% if user.is_authenticated %}
                         <a href="javascript:popup()" style="margin-right:20px; margin-bottom:5px;"><i class="far fa-envelope"></i></a>

                        <div style="margin-right:20px; margin-bottom:0.5rem;">
                            {% if name != None %}
                            {{ name }}
                            {% else %}
                            팀원
                            {% endif %}
                            님 안녕하세요
                        </div>
                        <a class="button is-light" href="{% url 'profile' %}">
                            <strong>My Profile</strong>
                        </a>
                        {% if not team_manager %}
                        <a class="button is-light" href="{% url 'work_log_write' %}">
                            퇴근하기
                        </a>
                        {% endif %}
                        <a class="button is-light" href="{% url 'logout' %}">
                            로그아웃
                        </a>

                        {% endif %}
                        <!-- end -->
                    </div>
<!--                </div>-->
            </div>
        </div>
    </nav>
</div>

{% block content %}
{% endblock %}


</body>
</html>