{% extends 'base.html' %}

{% block content %}
    <style>
        .profile_body{
            padding-top:220px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .profile{
            width:500px;
			text-align: center;
        }
    </style>

<div class="profile_body">
		<div class="notification is-primary profile">
		  비밀번호가 성공적으로 변경되었습니다.
		</div>

		<a class="button is-primary" href="{% url 'editprofile' %}">프로필 수정으로 돌아가기</a>

</div>

</div>

<br>
<br>
{% endblock %}