{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      />
<script>

function selectAll(){
    var checkboxes = document.querySelectorAll('input[id="select"]');
    var first_box = document.querySelectorAll('input[id="select_all"]')[0];

    if (first_box.checked==true) {
        for (var checkbox of checkboxes){
            checkbox.checked = true;
        }

    }
    else {
        for (var checkbox of checkboxes){
            checkbox.checked = false;
        }
    }
};


function popup(){
    var url = "{% url 'senddirect' %}"
    var name = "쪽지 쓰기";
    var option = "location=no, directories=no, status=no, toolbar=no, menubar=no, scrollbars=no, resizable=yes, width=550, height=800";
    window.open(url, name, option);
}

function get_unread_message(){
    var checked = document.getElementById('unread').checked;
    $.ajax({
			type: 'POST',
			url: '{% url "directlist_received" %}',
			data: {
			    'action': 'Click',
			    'check': checked,
			    csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(data){
			    $('.msgList').html(data);
	        },
	        error: function(xhr, status) {
	            alert('error');
	        }
    })
}

</script>
<body>

        <div class="hero is-dark is-small" >

            <div class="hero-body" style="display:flex; flex-direction:row; ">

                <p class="title" style="text-align:center; margin-right:20px;">
                    MESSAGES
                </p>

                <a href="javascript:popup()" style="margin-right:20px;"><i style="float:right; margin-top:14px;" class="far fa-edit fa-1x"></i></a>

            </div>

        </div>

        <div class="tabs">
          <ul>
              <li class="is-active"><a href="#">받은 쪽지함</a></li>
              <li><a href="{% url 'directlist_sent' %}">보낸 쪽지함</a></li>
              <li><a href="{% url 'directs_deleted' %}">삭제함</a></li>

          </ul>
        </div>


     <form method="POST">
        {% csrf_token %}
        <div style="display:flex; justify-content:center;" class="msgList">
            <table class="table is-hoverable" style="width:90%">
                <thead>
                <tr>
                    <th>
                        <div><input type="checkbox" id="select_all" onclick="selectAll()"></div>
                    </th>
                    <th>
                        <div>제목</div>
                    </th>
                    <th>
                        <div>보낸 이</div>
                    </th>
                    <th>
                        <div>받은 날짜</div>
                    </th>
                    <th>
                        <div>수신 확인</div>
                    </th>
                    <th>
                        <div>삭제</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% for message in message_list %}
                        <tr>
                            <td><input type="checkbox" name="delete" id="select" value="{{message.id}}"></td>
                            <td><a href="{% url 'readdirect' message.pk 1 %}">
                                <div name="title" style="width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{ message.title }}</div>
                            </a></td>
                            <td>
                                <div name="user" style="width:80px;">{{ message.sender }}</div>
                            </td>
                            <td>
                                <div name="date">{{ message.date|date:"m-d H:i" }}</div>
                            </td>
                            <td>
                                {% if message.is_read == True %}
                                    <div><i class="far fa-envelope-open"></i></div>
                                {% else %}
                                    <div><i class="far fa-envelope"></i></div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'deletedirect' message.pk 1 %}">삭제</a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <button class="button is-light" style="margin-left:5%;" name="action" value="Read">읽음</button>
        <button class="button is-light" name="action" value="Delete">삭제</button>
        <label style="float:right; margin-right:40px;"><input type="checkbox" onchange="get_unread_message();" id="unread"> 안 읽은 쪽지</label>
    </form>

        <br>
        <br>
        <div class="buttons is-centered">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="button is-dark is-light">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="button is-dark">&lt;</a>
            {% endif %}

<!--            <span class="button" style="pointer-events: none; outline: none;">-->
<!--                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->

            <span style="margin-bottom: 0.5rem; margin-left: 0.5rem; margin-right: 0.5rem;">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="button is-dark">&gt;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="button is-dark is-light">last &raquo;</a>
            {% endif %}
        </div>



</body>
</html>