{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      />
<script>

function selectAll(){
    var checkboxes = document.querySelectorAll('input[id="select"]');
    var first_box = document.querySelectorAll('input[id="select_all"]')[0];
<!--    console.log(first_box);-->
<!--    console.log(first_box.checked);-->


    if (first_box.checked==true) {
        for (var checkbox of checkboxes){
            checkbox.checked = true;
        }

    }
    else {
        for (var checkbox of checkboxes){
            checkbox.checked = false;
        }

    }



};
</script>
<body>

        <div class="hero is-dark is-small" >
            <div class="hero-body" style="display:flex; flex-direction:row; ">
                <p class="title" style="text-align:center; margin-right:20px;">
                    MESSAGES


                </p>
<!--                <a href="{% url 'senddirect' %}" style="margin-right:20px;"><i style="float:right;" class="far fa-edit fa-2x"></i></a>-->
            </div>
        </div>

        <div class="tabs">
          <ul>
              <li class="is-active"><a href="#">받은 쪽지함</a></li>
              <li><a href="{% url 'directlist_sent' %}">보낸 쪽지함</a></li>
              <li><a href="{% url 'senddirect' %}">쪽지 쓰기</a></li>
        <!--    <li><a href="{% url 'searchselect' %}">by Team</a></li>-->

          </ul>
        </div>



        <div style="display:flex; justify-content:center;">
            <table class="table is-hoverable" style="width:90%">
                <thead>
                <tr>
                    <th>
                        <div><input type="checkbox" id="select_all" onclick="selectAll()"></div>
                    </th>
                    <th>
                        <div>제목</div>
                    </th>
                    <th>
                        <div>보낸 이</div>
                    </th>
                    <th>
                        <div>날짜</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <form method="post">
                    {% csrf_token %}
                {% for message in message_list %}

                <tr>
                    <td><input type="checkbox" name="delete" id="select" value="{{message.id}}"></td>
                    <td><a href="{% url 'readdirect' message.pk %}">
                        <div name="title" style="width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{ message.title }}</div>
                    </a></td>
                    <td>
                        <div name="user" style="width:80px;">{{ message.sender }}</div>
                    </td>
                    <td>
                        <div name="date">{{ message.date|date:"m-d a f" }}</div>
                    </td>
                </tr>

                {% endfor %}

                </tbody>

            </table>
        </div>
        <br>


<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->

        <button class="button is-light" style="margin-left:5%;">삭제</button>
        </form>

        <br>
        <br>
        <div class="buttons is-centered">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="button is-dark is-light">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="button is-dark">&lt;</a>
            {% endif %}

<!--            <span class="button" style="pointer-events: none; outline: none;">-->
<!--                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->

            <span style="margin-bottom: 0.5rem; margin-left: 0.5rem; margin-right: 0.5rem;">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="button is-dark">&gt;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="button is-dark is-light">last &raquo;</a>
            {% endif %}
        </div>



</body>
</html>