{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      />
</head>
<script>
    function popup(){
    var url = "{% url 'replydirects' message.pk %}"
    var name = "답장 하기";
    var option = "location=no, directories=no, status=no, toolbar=no, menubar=no, scrollbars=no, resizable=yes, width=800, height=800";
    window.open(url, name, option);
}
</script>
<body>

        <div class="hero is-dark is-small" >
            <div class="hero-body" style="display:flex; flex-direction:row; ">
                <a href="{% url 'directlist_received' %}" style="margin-right:20px; margin-top:7px;"><i style="font-color:white;" class="fas fa-chevron-left fa-1x"></i></a>
                <p class="title" style="text-align:center; margin-right:20px;">
                    READ MESSAGES

                </p>

            </div>
        </div>

<article class="media" style="display:block; padding:30px;">

  <div style=" margin-bottom:6px; padding:10px;">
      <span><strong>{{ message.title }}</strong></span><br>
      <span style="font-size:12px; color: #8e8e8e;">보낸 날짜 : {{ message.date }}</span><br>
      {% if user != message.sender %}
      <span style="font-size:12px; color: #8e8e8e;">보낸 사람 : {{ message.sender }}</span>
      {% else %}
      <span style="font-size:12px; color: #8e8e8e;">받는 사람 : {{ message.recipient }}</span>
      {% endif %}
  </div>
  <div class="media-content">
    <div class="field" style="height:500px; margin-bottom:35px; border: thin solid #EEEEEE; border-radius:10px; padding:10px;">
      <p class="control">
        {{ message.body|linebreaks }}
      </p>
    </div>
    <nav class="level">
      <div class="level-left" >
        <div class="level-item" style="display:flex; float:right;">

        {% if user != message.sender and message.is_delete == False %}
              <a href="javascript:popup()" class="button is-dark" style="margin-right:8px;">답장</a>

            <a href="{% url 'deletedirect' message.pk  1 %}" class="button is-dark">삭제</a>
            {% else %}
                {% if message.is_delete == False %}
                     <a href="{% url 'deletedirect' message.pk  2 %}" class="button is-dark" >삭제</a>
                {% else %}
                     <a href="{% url 'deletedirect' message.pk  3 %}" class="button is-dark" >삭제</a>
                {% endif %}
            {% endif %}
        </div>
      </div>
    </nav>
  </div>
</article>

</body>
</html>