{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      />

<body>

        <div class="hero is-dark is-small" >
            <div class="hero-body" style="display:flex; flex-direction:row; ">

                <p class="title" style="text-align:center; margin-right:20px;">
                    SEND MESSAGES

                </p>

            </div>
        </div>

        <div class="tabs">
          <ul>
              <li><a href="{% url 'directlist' %}">받은 쪽지함</a></li>
              <li><a href="#">보낸 쪽지함</a></li>
              <li class="is-active"><a href="{% url 'senddirect' %}">쪽지 쓰기</a></li>

          </ul>
        </div>


<form method="post" role="form">
    {% csrf_token %}
    <div style="padding:30px;">
        <label for="cars">받는 사람</label>

        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <select >
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
    </div>
    <article class="media" style="display:block; padding:0px 30px;">
      <input class="input" type="text" name="title" placeholder="제목을 입력해주세요." style="margin-bottom:20px;">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" name="body" style="height:400px; margin-bottom:35px;" placeholder="내용을 작성해주세요."></textarea>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <a class="button is-dark" type="submit">Submit</a>
            </div>
          </div>
        </nav>
      </div>
    </article>
</form>

</body>
</html>