{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      />

<body>

        <div class="hero is-dark is-small" >
        <div class="hero-body" style="display:flex; flex-direction:row; ">
            <p class="title" style="text-align:center; margin-right:20px;">
                MESSAGES

            </p>
            <i style="float:right;" class="far fa-edit fa-2x"></i>
        </div>
        </div>


    <div style="display:flex; flex-direction:row; margin:5px; padding:10px;">
        <figure class="image is-64x64" style="margin-right:15px;">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        <div style="display:flex; flex-direction:column;">
            <strong><span>김기환 팀장</span></strong>
            <span class="content">
             다음주 금요일은 쉬세요.
            </span>
        </div>
        <div style="text-align: right;">2021.04.07</div>
    </div>
    <hr>

  </div>




</div>
</body>
</html>