<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>
<body>

    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                오늘 하루도 수고 많으셨어요.
            </p>
        </div>
    </div>
	<a style="margin:50px;" class="button is-primary" href="{% url 'login' %}">
                            다시 로그인 하기
                        </a>



</body>
</html>
