{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="login_form">

    <style>
        #login_form{
            height: 100vh;
            display: flex;
            align-items:center;
            justify-content: center;
        }

        #login-form {
          display: flex;
          flex-direction: column;
          margin: 0px 30px;
        }

        #login-form input {
          border: none;
          padding: 15px 0px;
          font-size: 18px;
          margin-bottom: 25px;
        }


        #login-form input:not([type="submit"]) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          transition: border-color 0.3s ease-in-out;
        }


        #login-form input::placeholder {
          color: rgba(0, 0, 0, 0.4);
        }

        #login-form input[type="submit"] {
          background-color: #66CCCC;
          cursor: pointer;
          padding: 20px 0px;
          border-radius: 5px;
        }


    </style>
<form method="post" action="" role="form" id="login-form">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    {% if form.errors %}
    <div class="row">
        <div class="col s12">
            <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
        </div>
    </div>
    {% endif %}

    <input style="color:white; background:#01C4A7;" type="submit" value="Log In"/>

</form>

</div>
{% endblock %}