<table class="table is-hoverable" style="width:90%">
    <thead>
    <tr>
        <th>
            <div><input type="checkbox" id="select_all" onclick="selectAll()"></div>
        </th>
        <th>
            <div>제목</div>
        </th>
        <th>
            <div>보낸 이</div>
        </th>
        <th>
            <div>받은 날짜</div>
        </th>
        <th>
            <div>수신 확인</div>
        </th>
        <th>
            <div>삭제</div>
        </th>
    </tr>
    </thead>
    <tbody>
        {% for message in message_list %}
            <tr>
                <td><input type="checkbox" name="delete" id="select" value="{{message.id}}"></td>
                <td><a href="{% url 'readdirect' message.pk 1 %}">
                    <div name="title" style="width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">{{ message.title }}</div>
                </a></td>
                <td>
                    <div name="user" style="width:80px;">{{ message.sender }}</div>
                </td>
                <td>
                    <div name="date">{{ message.date|date:"m-d H:i" }}</div>
                </td>
                <td>
                    {% if message.is_read == True %}
                        <div><i class="far fa-envelope-open"></i></div>
                    {% else %}
                        <div><i class="far fa-envelope"></i></div>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'deletedirect' message.pk 1 %}">삭제</a>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>