{% extends 'base.html' %}

{% load static %}

{% block content %}

<link href='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.6.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.6.0/main.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>

<script>

var selected_date = "{{selected_date}}";
var selected_team = "{{selected_team}}";

function setDateInit(){
var d = new Date(selected_date);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
}

function setDateBefore(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() - 1);

result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
}

function setDateAfter(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() + 1);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
}

function dateChange(){
    var date = document.getElementById('week_start_date').value;

}

function addAllEvents(){
document.getElementById('week_start_date').addEventListener("change", dateChange);
}

function init(){
    setDateInit();
    addAllEvents();
}

function setEvents(){
    $.ajax({
            type: 'GET',
            url: '/schedule/day/api/1/2021-04-04/',
            dataType: 'json',
            success: function(data){
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                initialView: 'resourceTimeGridDay',
                initialDate: selected_date,
                resources: data.resources,
                events: data.event,
            });
            calendar.render();
            alert(data.event[0].start);
            }
    })
}




window.addEventListener('DOMContentLoaded', init);



document.addEventListener('DOMContentLoaded', function() {

  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    timeZone: 'UTC',
    initialView: 'resourceTimeGridDay',
    initialDate: selected_date,
    resources: [
      { id: 'a', title: 'Room A' },
      { id: 'b', title: 'Room B'},
      { id: 'c', title: 'Room C' },
      { id: '4', title: 'dsad' },
      { id: '5', title: 'ㅅㄷㄴ' },
      { id: 'd', title: 'Room D' }
    ],
    events: [
    {"resourceId":"b","title":"event 3","start":"2021-04-02T12:00:00+00:00","end":"2021-04-03T06:00:00+00:00", "color" : '#0096c6'},
    {"resourceId":"c","title":"event 4","start":"2021-04-02T07:30:00+00:00","end":"2021-04-02T09:30:00+00:00", "color" : '#0096c6'},
    {"resourceId":"d","title":"event 5","start":"2021-04-02T10:00:00+00:00","end":"2021-04-02T15:00:00+00:00", "color" : '#0096c6'},
    {"resourceId":"a","title":"event 2","start":"2021-04-02T09:00:00+00:00","end":"2021-04-02T14:00:00+00:00", "color" : '#0096c6'},
    {"resourceId":"5","title":"event 2","start":"2021-04-02T09:00:00+00:00","end":"2021-04-02T14:00:00+00:00", "color" : '#0096c6'},
    {"resourceId": "4", "title": "test1_authy", "start": "2021-04-04T17:06:00+00:00", "end": "2021-04-04T17:06:00+00:00", "color": "#fa3d00"}
    ]

  });

  calendar.render();
});















</script>
<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                Modify Schedule
            </p>
        </div>
    </div>
    <br>
    <form method="post" action="" role="form">
        {% csrf_token %}


        <div class="columns is-centered">
            <div class="column">

                <div class="box">

                    <div class="columns is-centered">
                        <div class="column is-4 title is-3">
                            <div class="buttons has-addons">
                                <p class="button" onclick="setDateBefore()">
                            <span class="material-icons">
                                arrow_back
                            </span>
                                </p>
                                <p class="button">
                                    <input id="week_start_date" class="input end_time" type="date">
                                </p>
                                <p class="button" onclick="setDateAfter()">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">


                        </div>
                        <div class="column is-4">
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}