{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>

<script>

var selected_date = "{{selected_date}}";

var date = null;

var vacation_text = null;
var working_time = null;
var start_time = null;
var end_time = null;

function checkVacationCount(event){
    if(event.target.selectedIndex != 2){
        return;
    }
    var total_count = Number(vacation_text.innerText.split(" ")[3].split("개")[0]);
    var vacation_count = 0;
    for(var i = 0;i < work_type.length ; i++){
        if(work_type[i].selectedIndex == 2){
            vacation_count += 1;
        }
    }
    console.log(vacation_count);

    if(total_count < vacation_count){
        alert("남은 휴가가 없습니다!");
        event.target.selectedIndex = 0;
    }
}

function CalculateAllWorkTime(){
    for (let i = 0; i < start_time.length; i++) {
        if(start_time[i].value == "" ||  end_time[i].value == ""){
            working_time[i].innerText = '00:00';
        }
        else{
        working_time[i].innerText = diff(start_time[i].value, end_time[i].value);
        }
    }
    sumAll();
}

function CheckWorkTime(){
    for(let i = 0 ; i < date.length; i++){
        if(work_type[i].value != 1){
        start_time[i].value = '';
        start_time[i].readOnly = true;
        end_time[i].value = '';
        end_time[i].readOnly = true;
        }
        else{
        start_time[i].readOnly = false;
        end_time[i].readOnly = false;

        }
    }
    CalculateAllWorkTime();
}

function getWorkTimes(){

vacation_count = document.getElementsByClassName("vacation_count")[0];

var week_start_date = document.getElementById('week_start_date').value.split('-');
   $.ajax({
        type: 'GET',
        url: '/schedule/register/list/week/' +  week_start_date[0] + '/' + week_start_date[1] + '/' + week_start_date[2],
        dataType: 'json',

        success: function(data){
                vacation_count.innerText = data.vacation
                schedule = data.date
                if(data.length == 0){
                    for(let i=0;i<date.length;i++){
                        work_type[i].value = 0;
                        start_time[i].value = null;
                        end_time[i].value = null;
                    }
                }
                else{
                    for(let i=0;i<date.length;i++){
                        work_type[i].value = schedule[i].work_type;
                        start_time[i].value = schedule[i].start;
                        end_time[i].value = schedule[i].end;
                    };
                }
                CheckWorkTime();
            }
        });
}


function setFormDate(){
var week = ['일', '월', '화', '수', '목', '금', '토'];
var d = new Date(document.getElementById('week_start_date').value);
    for(let i = 0; i<date.length;i++){
        date[i].innerText = (d.getMonth() + 1) + "." + d.getDate() + " (" + week[d.getDay()] + ")";
        d.setDate(d.getDate() + 1);
    }

getWorkTimes();

CheckWorkTime();
}

function setDateInit(){
var d = new Date(selected_date);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;

}

function setDateBefore(){
var d = new Date(document.getElementById('week_start_date').value);
if (d.setDate(d.getDate() - 1) <= Date.now()){
    alert("오늘 이전 날자는 신청이 불가능 합니다.");
    return;
}
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;

setFormDate()
}

function setDateAfter(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() + 1);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;

setFormDate()
}


function getAllWorkTimes(){


    date = document.getElementsByClassName("date");

    vacation_text = document.getElementsByClassName("vacation_count")[0];

    work_type = document.getElementsByClassName("work_type");
    working_time = document.getElementsByClassName("work_time");
    start_time = document.getElementsByClassName("start_time");
    end_time = document.getElementsByClassName("end_time");
}

function diff(start, end) {
    start = start.split(":");
    end = end.split(":");
    var startDate = new Date(0, 0, 0, start[0], start[1], 0);
    var endDate = new Date(0, 0, 0, end[0], end[1], 0);
    var diff = endDate.getTime() - startDate.getTime();
    var hours = Math.floor(diff / 1000 / 60 / 60);
    diff -= hours * 1000 * 60 * 60;
    var minutes = Math.floor(diff / 1000 / 60);

    // If using time pickers with 24 hours format, add the below line get exact hours
    if (hours < 0)
       hours = hours + 24;

    return (hours <= 9 ? "0" : "") + hours + ":" + (minutes <= 9 ? "0" : "") + minutes;
}

function sumAll(){
    var result = "";
    var sum_hour = 0;
    var sum_minute = 0;

    for (let i = 0; i < start_time.length; i++) {
        var time = working_time[i].innerText;
        sum_hour += time.split(":")[0] *  1;
        sum_minute += time.split(":")[1] * 1;

    }
    sum_hour += Math.floor(sum_minute / 60);
    sum_minute = sum_minute % 60;

    result =  ("0" +  sum_hour).slice(-2) + ":" + ("0" + sum_minute).slice(-2);


}

function addAllEvents(){
    document.getElementById('week_start_date').addEventListener('change', setFormDate);
    for (let i = 0; i < start_time.length; i++) {
        start_time[i].addEventListener('change', CalculateAllWorkTime);
        end_time[i].addEventListener('change', CalculateAllWorkTime);
        work_type[i].addEventListener('change', CheckWorkTime);
        work_type[i].addEventListener('change', checkVacationCount);
    }

}

function init(){
    setDateInit();
    getAllWorkTimes();
    addAllEvents();

    setFormDate();
}


window.addEventListener('DOMContentLoaded', init);

</script>
<div class="container">
    <div class="hero is-dark is-small">
        <div class="hero-body">
            <p class="title">
                Register Day Schedule
            </p>
        </div>
    </div>
    <br>
    <form method="post" action="" role="form" onsubmit="location.reload();">
        {% csrf_token %}


        <div class="columns is-centered">
            <div class="column">

                <div class="box" style="height:80px;">
                    <div class="columns is-centered">
                        <div class="column is-4 title is-3">
                            <div class="field has-addons">
                                <p class="control">
                                    <button class="button" type="button" onclick="setDateBefore()">
                                        <span class="material-icons">
                                            arrow_back
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    {{ forms.week_start_date }}
                                </p>
                                <p class="control">
                                    <button class="button" type="button" onclick="setDateAfter()">
                                        <span class="material-icons">
                                            arrow_forward
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="notification is-dark" style="height:36px; text-align: center;">
                                <h1 class="subtitle is-4 vacation_count" style="margin-top : -15px;">사용 가능 휴가 00개</h1>
                            </div>
                        </div>

                        <div class="column is-4">
                            <button type="submit" class="button is-dark is-fullwidth">
                                <h1 class="subtitle is-4" style="color:white;margin-top : 0px;">
                                근무 수정
                                    </h1>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="columns is-centered">
                        <div class="column is-2" style="text-align: center;display: flex;justify-content: center;flex-direction: column;">
                            <p class='title is-5 date'>0</p>
                        </div>
                        <div class="column is-7">
                            <div class="columns is-centered">

                                <div class="column is-3">
                                    <div class="select is-dark">
                                        {{ forms.work_type }}
                                    </div>
                                </div>
                                <div class="column is-3">
                                    {{ forms.start }}
                                </div>
                                <div class="column is-1">
                                    <span class="subtitle is-3">-</span>
                                </div>
                                <div class="column is-3">
                                    {{ forms.end }}
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">

                            <div class="columns is-centered">
                                <div class="column">
                                <span class="tag is-dark is-medium" style="height:39px"><p>예정 근무 시간&nbsp;</p><p
                                        class="work_time">00:00</p></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" style="height:270px">
                   {{ forms.contents }}
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}