<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script>
        var todo_context = null;
        var todo_context_div = null;
        var todo_context_textarea = null;
        var todo_context_textarea_div = null;
        var todo_edit = null;
        var todo_edit_cancel = null;





        function getElements(){
            todo_edit = document.getElementById("todo_edit");
            todo_edit_cancel = document.getElementById("todo_edit_cancel");
            todo_context = document.getElementById("todo_context");
            todo_context_div = document.getElementById("todo_context_div");
            todo_context_textarea = document.getElementById("todo_context_textarea");
            todo_context_textarea_div = document.getElementById("todo_context_textarea_div");
        }

        function changeEditMode(){
            todo_context_div.style.display = "none";
            todo_context_textarea_div.style.display = "block";
        }

        function changeViewMode(){
            todo_context_div.style.display = "block";
            todo_context_textarea_div.style.display = "none";
            todo_edit.innerText = "Edit";
        }

        function setEventListener(){
            todo_edit.addEventListener("click", changeEditMode);
            todo_edit_cancel.addEventListener("click", changeViewMode);
        }

        function init(){
            getElements();
            setEventListener();
        };


        window.addEventListener('DOMContentLoaded', init);
    </script>
</head>

<body>
<div class="container">
    <div class="hero is-dark is-small">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-7">
                    <p class="title">
                        To Do - 권진호 - 2020.12.12
                    </p>
                </div>
                <div class="column is-5 has-text-right">
                    <div>
                        <button class="button is-light" style="display:none;" id="todo_edit_cancel">Edit</button>
                        <button class="button is-Light" id="todo_edit">Edit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div class="box" style="height:84vh;" id="todo_context_div">
        <div class="context" id="todo_context">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </div>
    </div>
    <div class="box" style="height:84vh; display:none;" id="todo_context_textarea_div">
        <textarea style="height:100%;" class="textarea is-dark" id="todo_context_textarea"></textarea>
    </div>
</div>

</body>
</html>
