{% extends 'base.html' %}

{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css">
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>

<script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',

        });

        calendar.render();


});

function getEventByUser(user_id, year, month){
$.ajax({
			type: 'GET',
			url: '/schedule/list/user/' + user_id + "/" + year + "/" + month,
			dataType: 'json',

			success: function(data){

			var color_list = ['#0096c6', '#ff6939', '#fa3d00', '#6937a1',  '#003458'];

			var titles = Array();
			for (var i = 0 ; i < data.length; i++){
                var title = ""
                var start = data[i].date
                var end = data[i].date
                var color = ""
			    if (data[i].work_type == 1){
			        title = data[i].name + " | " +  data[i].start + " : " + data[i].end;
			        color = color_list[data[i].color];
                }
                else if(data[i].work_type == 2){
                    title = data[i].name + " | " + "휴가";
                    color = '#008000';
                }
                titles.push({'title' : title, 'start': start, 'end' : end, "color": color });
			}

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events : titles
            });

            calendar.render();
	}
})
}

function getEventByTeam(Team_id, year, month){
$.ajax({
			type: 'GET',
			url: '/schedule/list/team/' + Team_id + "/" + year + "/" + month,
			dataType: 'json',

			success: function(data){

			var color_list = ['#0096c6', '#ff6939', '#fa3d00', '#6937a1',  '#003458'];

			var titles = Array();
			for (var i = 0 ; i < data.length; i++){
                var title = ""
                var start = data[i].date
                var end = data[i].date
                var color = ""
			    if (data[i].work_type == 1){
			        title = data[i].name + " | " +  data[i].start + " : " + data[i].end;
			        color = color_list[data[i].color];
                }
                else if(data[i].work_type == 2){
                    title = data[i].name + " | " + "휴가";
                    color = '#008000';
                }
                titles.push({'title' : title, 'start': start, 'end' : end, "color": color });
			}

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events : titles
            });

            calendar.render();
	}
})
}

</script>
<br>

<div class="columns is-centered">
    <div class="column is-10">
        <div class="box">
            <b>이번 주 근무</b>
        </div>

        <button id="user" onclick="getEventByUser('3', '2021', '03')">getEventByUser</button>
        <button id="team" onclick="getEventByTeam('1', '2021', '03')">getEventByTeam</button>

        <div id='calendar'></div>


    </div>
</div>

{% endblock %}