<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<br>


<div class="columns is-centered">
    <div class="column is-10">
        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    <h3 class="title">2021년 </h3>
                </div>
                <div class="column is-1">
                    <h3 class="title">
                        3월
                    </h3>
                </div>
                <div class="column is-4">
                    <div class="buttons has-addons">
                        <button class="button">
                            <span class="material-icons">
                                arrow_back
                            </span>
                        </button>
                        <button class="button"><h3 class="title">3.21 ~ 3.27 </h3></button>
                        <button class="button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </button>
                    </div>
                </div>

                <div class="column is-3">
                </div>
                <div class="column is-2">
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="columns is-centered">
    <div class="column is-10">
        <div class="box">

            <div class="columns is-centered">
                <div class="column is-2">
                    <b>이번 주 예정 근무</b>
                </div>
                <div class="column is-1">
                    <b>3.21 (일)</b>
                </div>
                <div class="column is-1">
                    <b>3.22 (일)</b>
                </div>
                <div class="column is-1">
                    <b>3.23 (일)</b>
                </div>
                <div class="column is-1">
                    <b>3.24 (일)</b>
                </div>
                <div class="column is-1">
                    <b>3.25 (일)</b>
                </div>
                <div class="column is-1">
                    <b>3.26 (일)</b>
                </div>
                <div class="column is-1">
                    <b>3.27 (일)</b>
                </div>
                <div class="column is-1">
                </div>
                <div class="column is-1">
                </div>
                <div class="column is-1">
                </div>
            </div>
        </div>
        <div class="box">
            <div class="columns is-centered  is-vcentered ">
                <div class="column is-2">
                    <h3 class="title">권진호 </h3>
                </div>
                <div class="column is-1">
                    <p>-</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-1">
                    <p>휴가</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>-</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <button class="button is-success is-fullwidth">승인</button>
                        </div>
                        <div class="column">
                            <button class="button is-danger is-fullwidth">반려</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="columns is-centered  is-vcentered ">
                <div class="column is-2">
                    <h3 class="title">황유진 </h3>
                </div>
                <div class="column is-1">
                    <p>-</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-1">
                    <p>휴가</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>-</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <button class="button is-success is-fullwidth">승인</button>
                        </div>
                        <div class="column">
                            <button class="button is-danger is-fullwidth">반려</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered  is-vcentered ">
                <div class="column is-2">
                    <h3 class="title">윤명훈 </h3>
                </div>
                <div class="column is-1">
                    <p>-</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-1">
                    <p>휴가</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>근무</p>
                    <p>10:00</p>
                    <p>20:00</p>
                </div>
                <div class="column is-1">
                    <p>-</p>
                    <p></p>
                    <p></p>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <button class="button is-success is-fullwidth">승인</button>
                        </div>
                        <div class="column">
                            <button class="button is-danger is-fullwidth">반려</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered  is-vcentered ">
                <div class="column is-2">
                    <h3 class="title">권진호_2 </h3>
                </div>
                <div class="column is-10">
                    <h3 class="subtitle">예정 근무를 작성하지 않았습니다 </h3>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>