{% extends 'base.html' %}

{% load static %}

{% block content %}
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>

<script>
var date = document.getElementsByClassName('date')
var week = ['일', '월', '화', '수', '목', '금', '토'];

var work_types = ['휴일', '근무', '휴가'];
var approved_types = ['','대기중', '승인', '반려'];

var selected_date = '{{selected_date}}'
var team_name = '{{ team }}'
var team_id = {{ team_id }}





function setUserInit(){
var date_list = []
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate());
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
$.ajax({
			type: 'GET',
			url: 'list/' + team_id + '/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + ('0' + d.getDate()).slice(-2),
			dataType: 'json',

			success: function(data){
			var result = "";
                document.getElementsByClassName("user_list")[0].innerHTML = "";
                for(let i = 0;i<data.length;i++){
                result = setBoxHtml(data[i].name, data[i].date, data[i].approved);

                var temp = document.createElement("div");
                temp.innerHTML = result;

                document.getElementsByClassName("user_list")[0].appendChild(temp);
                }
	        }
        })
}


function setUserApproved(type, user){
var d = new Date(document.getElementById('week_start_date').value);
$.ajax({
			type: 'GET',
			url: user + '/' + d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + ('0' + d.getDate()).slice(-2) + '/' + type,
			dataType: 'json',

			success: function(data){
			setUserInit();
        }
        });
}

function setFormDate(){
var d = new Date(document.getElementById('week_start_date').value);
    for(let i = 0; i<7;i++){
        date[i].innerText = (d.getMonth() + 1) + "." + d.getDate() + " (" + week[d.getDay()] + ")";
        d.setDate(d.getDate() + 1);
    }
    setUserInit()
}

function setDateInit(){
var d = new Date(selected_date);
d.setDate(d.getDate() - d.getDay() + 7);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
for(let i=0;i<7;i++){
    date[i].innerText = ("0" + d.getDate()).slice(-2) + "(" + week[d.getDay()] + ")";
    d.setDate(d.getDate() + 1);
}
}

function setDateBefore(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() - 7);
if (d <= Date.now()){
alert("이번주 이전 날자는 신청이 불가능 합니다.");
return;
}
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;

setFormDate()
}

function setDateAfter(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() + 7);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;

setFormDate()
}





function getUserList(){

}

function setBoxHtml(name, work_list, approved){
    var result_html = ""
    result_html += '<div class="box">\
                    <div class="columns is-centered  is-vcentered ">\
                    <div class="column is-2">\
                    <h3 class="title">' + name +  '</h3>\
                    </div>'.trim();
    if(work_list.length == 0){
        result_html += '<div class="column is-10 title">\
                        <p>' + "근무 일정이 없습니다" + '</p>\
                        </div>'.trim();
    }
    else{
        for(let i=0;i<7;i++){
            result_html += '<div class="column is-1">\
                            <p>' + work_types[work_list[i].work_type] + '</p>\
                            <p>' + work_list[i].start + '</p>\
                            <p>' + work_list[i].end + '</p>\
                            </div>'.trim();
        }
        result_html +=  '<div class="column is-3">\
                        <button class="button is-info is-fullwidth">' + approved_types[approved] + '</button>\
                        <div class="columns is-centered">\
                        <div class="column">\
                        <button class="button is-success is-fullwidth" onclick="setUserApproved(2, \'' + name + '\')">승인</button>\
                        </div>\
                        <div class="column">\
                        <button class="button is-danger is-fullwidth" onclick="setUserApproved(3, \'' + name + '\')">반려</button>\
                        </div>\
                        </div>\
                        </div>\
                        </div>\
                        </div>'.trim();

    }
    return result_html;
}
function init(){
    setDateInit();

    setUserInit();

    setFormDate()

}


window.addEventListener('DOMContentLoaded', init);





</script>

<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                Schedule Approved
            </p>
        </div>
    </div>
    <br>

    <div class="columns is-centered">
        <div class="column is-10">
            <div class="box">
                <div class="columns is-centered">

                    <div class="column is-2">
                        <div>
                            <p class="title is-3"></p>
                        </div>
                    </div>
                    <div class="column is-8">
                        <div class="buttons has-addons">
                            <p class="button" onclick="setDateBefore()">
                                <span class="material-icons">
                                    arrow_back
                                </span>
                            </p>
                            <p class="button">
                                <input class='input' type="date" id='week_start_date'>
                            </p>
                            <p class="button" onclick="setDateAfter()">
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="column is-2">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-10">
            <div class="box">

                <div class="columns is-centered">
                    <div class="column is-2">
                        <b>이번 주 예정 근무</b>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                        <p class="date"></p>
                    </div>
                    <div class="column is-1">
                    </div>
                    <div class="column is-1">
                    </div>
                    <div class="column is-1">
                    </div>
                </div>
            </div>
            <div class="user_list"></div>
        </div>
    </div>
</div>

{% endblock %}