{% extends 'base.html' %}

{% load static %}

{% block content %}


<script>

var selected_date = {{selected_date}}


function setDateInit(){
var d = new Date(Date.now());
d.setDate(d.getDate() - d.getDay());
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
}

function setDateBefore(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() - 7);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
}

function setDateAfter(){
var d = new Date(document.getElementById('week_start_date').value);
d.setDate(d.getDate() + 7);
result_str = d.getFullYear() + "-" +("0" +  (d.getMonth() + 1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
document.getElementById('week_start_date').value = result_str;
}

window.addEventListener('DOMContentLoaded', setDateInit);


</script>

<div class="columns is-centered">
    <div class="column is-10">
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="box">
                    <h3 class="title is-3">총 예정 근무 </h3>
                    <h1 class="title is-1">300 시간</h1>
                </div>
            </div>
            <div class="column is-6">
                <div class="box">
                    <h3 class="title is-3">유급 휴가 </h3>
                    <h1 class="title is-1">300 개</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-10">
        <form method="post" action="" role="form">
            {% csrf_token %}
            <div class="buttons has-addons">
                <p class="button" onclick="setDateBefore()">
                            <span class="material-icons">
                                arrow_back
                            </span>
                </p>
                <p class="button">
                    {{ forms.week_start_date }}
                </p>
                <p class="button" onclick="setDateAfter()">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                </p>
            </div>
            <div class="box">

                <div class="columns is-centered">
                    <div class="column is-4">
                        <b>이번 주 근무 form TEST</b>
                    </div>
                    <div class="column is-8">
                        <button type="submit" class="button is-info is-fullwidth">신청</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.sun_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.sun_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.sun_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.mon_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.mon_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.mon_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.tue_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.tue_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.tue_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.wed_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.wed_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.wed_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.thu_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.thu_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.thu_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.fri_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.fri_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.fri_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="columns is-centered">
                    <div class="column is-2">
                        <p class='title is-5' class="date">3.21(일)</p>
                    </div>
                    <div class="column is-7">
                        <div class="columns is-centered">

                            <div class="column is-3">
                                <div class="select is-success">
                                    {{ forms.sat_work_type }}
                                </div>
                            </div>
                            <div class="column is-3">
                                {{ forms.sat_start }}
                            </div>
                            <div class="column is-1">
                                -
                            </div>
                            <div class="column is-3">
                                {{ forms.sat_end }}
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">

                        <div class="columns is-centered">
                            <div class="column">
                                <span class="tag is-primary is-medium">근무<p class="work_time">1</p>H</span>
                            </div>
                            <div class="column">
                                <span class="tag is-light is-medium">식사<p class="meal_time">1</p>H</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock %}