{% extends 'base.html' %}

{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css">
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>

<script>
var calendarEl = null;
var calendar = null;

document.addEventListener('DOMContentLoaded', function() {
    calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',

    });

    calendar.render();


});

function getEventByUser(){
var user_select = document.getElementById('user_select');

var user_id = user_select.options[user_select.selectedIndex].value;
$.ajax({
			type: 'GET',
			url: '/schedule/list/user/' + user_id + "/" + (calendar.getDate().getYear() + 1900) + "/" + (calendar.getDate().getMonth()+1),
			dataType: 'json',

			success: function(data){

			var color_list = ['#0096c6', '#ff6939', '#fa3d00', '#6937a1',  '#003458'];

			var titles = Array();
			for (var i = 0 ; i < data.length; i++){
                var title = ""
                var start = data[i].date
                var end = data[i].date
                var color = ""
			    if (data[i].work_type == 1){
			        title = data[i].name + " | " +  data[i].start + " : " + data[i].end;
			        color = color_list[data[i].color];
                }
                else if(data[i].work_type == 2){
                    title = data[i].name + " | " + "휴가";
                    color = '#008000';
                }
                else if(data[i].work_type == 0){
                    continue;
                }
                titles.push({'title' : title, 'start': start, 'end' : end, "color": color });
			}

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events : titles
            });

            calendar.render();
	}
})
}

function getEventByTeam(){
var team_select = document.getElementById('team_select');

var team_id = team_select.options[team_select.selectedIndex].value;
$.ajax({
			type: 'GET',
			url: '/schedule/list/team/' + team_id + "/"+(calendar.getDate().getYear() + 1900) + "/" + (calendar.getDate().getMonth()+1),
			dataType: 'json',

			success: function(data){

			var color_list = ['#0096c6', '#ff6939', '#fa3d00', '#6937a1',  '#003458'];

			var titles = Array();
			for (var i = 0 ; i < data.length; i++){
                var title = ""
                var start = data[i].date
                var end = data[i].date
                var color = ""
			    if (data[i].work_type == 1){
			        title = data[i].name + " | " +  data[i].start + " : " + data[i].end;
			        color = color_list[data[i].color];
                }
                else if(data[i].work_type == 2){
                    title = data[i].name + " | " + "휴가";
                    color = '#008000';
                }
                else if(data[i].work_type == 0){
                    continue;
                }
                titles.push({'title' : title, 'start': start, 'end' : end, "color": color });
			}

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events : titles
            });

            calendar.render();
	}
})
}

function setTeamSelect(){
var team_select = document.getElementById('team_select');

team_select.addEventListener('change', setUserSelect);
team_select.addEventListener('change', getEventByTeam);
$.ajax({
			type: 'GET',
			url: '/authy/api/teams/',
			dataType: 'json',

			success: function(data){
			    for(let i = 1;i<=team_select.options.length;i++){
                    team_select.remove(1);
			    }
                for(let i = 0;i<data.length;i++){
                var temp = document.createElement("option");
                temp.value = data[i].id
                temp.text = data[i].name
                team_select.add(temp);
                }
	        }
        })
}

function setUserSelect(){
var user_select = document.getElementById('user_select');
var team_select = document.getElementById('team_select');

var team_id = team_select.options[team_select.selectedIndex].value;

user_select.addEventListener('change', getEventByUser);


$.ajax({
			type: 'GET',
			url: '/authy/byteam/' + team_id,
			dataType: 'json',

			success: function(data){
			    for(let i = 1;i<=user_select.options.length;i++){
                    user_select.remove(1);
			    }
                for(let i = 0;i<data.length;i++){
                var temp = document.createElement("option");
                temp.value = data[i].user_id
                temp.text = data[i].name
                user_select.add(temp);
                }
	        }
        })
}


function init(){
    setTeamSelect();
}

window.addEventListener('DOMContentLoaded', init);



</script>
<br>

<div class="columns is-centered">
    <div class="column is-10">
        <div class="select is-primary">
            <select id="team_select">
                <option>team</option>
            </select>
        </div>
        <div class="select is-primary">
            <select id="user_select">
                <option>user</option>
            </select>
        </div>
        <div id='calendar'></div>


    </div>
</div>

{% endblock %}