<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<br>


<div class="columns is-centered">
    <div class="column is-10">
        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    <h3 class="title">2021년 </h3>
                </div>
                <div class="column is-1">
                    <h3 class="title">
                        3월
                    </h3>
                </div>
                <div class="column is-4">
                    <div class="buttons has-addons">
                        <button class="button">
                            <span class="material-icons">
                                arrow_back
                            </span>
                        </button>
                        <button class="button"><h3 class="title">3.21 ~ 3.27 </h3></button>
                        <button class="button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </button>
                    </div>
                </div>

                <div class="column is-3">
                    <button class="button is-info is-fullwidth">신청</button>

                </div>
                <div class="column is-2">
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="columns is-centered">
    <div class="column is-10">
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="box">
                    <h3 class="title is-3">총 예정 근무 </h3>
                    <h1 class="title is-1">300 시간</h1>
                </div>
            </div>
            <div class="column is-6">
                <div class="box">
                    <h3 class="title is-3">유급 휴가 </h3>
                    <h1 class="title is-1">300 개</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-10">
        <div class="box">
            <b>이번 주 근무</b>
        </div>

        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    3.21(일)
                </div>
                <div class="column is-7">
                    <div class="columns is-centered">

                        <div class="column is-3">
                            <div class="select is-success">
                                <select>
                                    <option>근무 / 휴가</option>
                                    <option>근무</option>
                                    <option>휴가</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                        <div class="column is-1">
                            -
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                    </div>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <span class="tag is-primary is-medium">근무 1H</span>
                        </div>
                        <div class="column">
                            <span class="tag is-light is-medium">식사 1H</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    3.21(일)
                </div>
                <div class="column is-7">
                    <div class="columns is-centered">

                        <div class="column is-3">
                            <div class="select is-success">
                                <select>
                                    <option>근무 / 휴가</option>
                                    <option>근무</option>
                                    <option>휴가</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                        <div class="column is-1">
                            -
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                    </div>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <span class="tag is-primary is-medium">근무 1H</span>
                        </div>
                        <div class="column">
                            <span class="tag is-light is-medium">식사 1H</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    3.21(일)
                </div>
                <div class="column is-7">
                    <div class="columns is-centered">

                        <div class="column is-3">
                            <div class="select is-success">
                                <select>
                                    <option>근무 / 휴가</option>
                                    <option>근무</option>
                                    <option>휴가</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                        <div class="column is-1">
                            -
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                    </div>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <span class="tag is-primary is-medium">근무 1H</span>
                        </div>
                        <div class="column">
                            <span class="tag is-light is-medium">식사 1H</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    3.21(일)
                </div>
                <div class="column is-7">
                    <div class="columns is-centered">

                        <div class="column is-3">
                            <div class="select is-success">
                                <select>
                                    <option>근무 / 휴가</option>
                                    <option>근무</option>
                                    <option>휴가</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                        <div class="column is-1">
                            -
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                    </div>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <span class="tag is-primary is-medium">근무 1H</span>
                        </div>
                        <div class="column">
                            <span class="tag is-light is-medium">식사 1H</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    3.21(일)
                </div>
                <div class="column is-7">
                    <div class="columns is-centered">

                        <div class="column is-3">
                            <div class="select is-success">
                                <select>
                                    <option>근무 / 휴가</option>
                                    <option>근무</option>
                                    <option>휴가</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                        <div class="column is-1">
                            -
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                    </div>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <span class="tag is-primary is-medium">근무 1H</span>
                        </div>
                        <div class="column">
                            <span class="tag is-light is-medium">식사 1H</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="columns is-centered">
                <div class="column is-2">
                    3.21(일)
                </div>
                <div class="column is-7">
                    <div class="columns is-centered">

                        <div class="column is-3">
                            <div class="select is-success">
                                <select>
                                    <option>근무 / 휴가</option>
                                    <option>근무</option>
                                    <option>휴가</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                        <div class="column is-1">
                            -
                        </div>
                        <div class="column is-3">
                            <input class="input" type="time" placeholder="time input">
                        </div>
                    </div>
                </div>
                <div class="column is-3">

                    <div class="columns is-centered">
                        <div class="column">
                            <span class="tag is-primary is-medium">근무 1H</span>
                        </div>
                        <div class="column">
                            <span class="tag is-light is-medium">식사 1H</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>