{% extends 'base.html' %}
{% block content %}
<style>
    .profile_body{
        padding-top:220px;
          display: flex;
          justify-content: center;
          align-items: center;
    }
     .profile{
            width:500px;

        }

</style>
<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                Create Staff
            </p>
        </div>
    </div>
    <div class="profile_body">
        <div class="profile">


            <!--        <div class="card">-->
            <!--          <div class="card-content">-->
            <!--            <div class="content">-->
            <!--                <form method="post">-->
            <!--                    {% csrf_token %}-->
            <!--                    {{ signup_form.as_p }}-->
            <!--                    {{ team_form.as_p }}-->

            <!--                    <button class="button is-primary" type="submit">Submit</button>-->
            <!--                </form>-->


            <form method="post" action="" role="form">
                {% csrf_token %}
                <h3 class="title is-3">Create Staff Account</h3>

                <div class="field">
                    <p class="control has-icons-left">
                        <label class="label is-medium">Username</label>
                        {{ form.username }}
                        <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                    </p>
                </div>


<!--                <div class="field">-->
<!--                    <p class="control has-icons-left">-->
<!--                        <label class="label is-medium">Password</label>-->
<!--                        {{ form.password }}-->
<!--                        <span class="icon is-small is-left">-->
<!--                                <i class="fas fa-lock"></i>-->
<!--                              </span>-->
<!--                    </p>-->
<!--                </div>-->

<!--                <div class="field">-->
<!--                    <p class="control has-icons-left">-->
<!--                        <label class="label is-medium">Confirm password</label>-->
<!--                        {{ form.confirm_password }}-->
<!--                        <span class="icon is-small is-left">-->
<!--                                <i class="fas fa-lock"></i>-->
<!--                              </span>-->
<!--                    </p>-->
<!--                </div>-->

                <label class="label is-medium">Choose Team</label>
                <div class="select is-primary" style="margin-bottom:20px;">

                    <select name="team">
                        <option>all</option>
                        {% for team in teams %}
                        <option>{{ team }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="label is-medium">Choose Position</label>
                <div class="select is-primary" style="margin-bottom:20px;">

                    <select name="position">
                        <option>all</option>
                        {% for position in positions %}
                        <option>{{ position }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!--                                <div class="field">-->
                <!--                                  <p class="control has-icons-left">-->
                <!--                                  <label class="label is-medium">Choose Team</label>-->
                <!--                                    {{ form.name }}-->
                <!--                                    <span class="icon is-small is-left">-->
                <!--                                <i class="fas fa-lock"></i>-->
                <!--                              </span>-->
                <!--                            </p>-->
                <!--                              </div>-->


                <div class="row">
                    <div class="col s12">
                        <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                    </div>
                </div>

                <div class="field">
                    <p class="control">
                        <button style="background:#01C4A7;" type="submit" name="action" class="button is-success">
                            Create
                        </button>
                    </p>
                </div>


        </div>
    </div>


</div>


</form>


</div>
</div>
</div>

</div>
</div>
</div>
{% endblock %}