{% extends 'base.html' %}
{% block content %}

    <style>
       .profile_body{
          padding-top:140px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .profile{
            width:500px;

        }
    </style>
<div class="container">
    <br>
    <div class="hero is-dark is-small">
        <div class="hero-body">
            <p class="title">
                My Profile
            </p>
        </div>
    </div>
<div class="profile_body">


<!-- 일반 회원이 볼 수 있는 본인 회원 정보 -->
{% if profile %}
<div class="profile">

    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
                <figure class="image is-128x128">
                  <img src="{% if profile.picture %}
          {{ profile.picture.url }} {% else %} https://bulma.io/images/placeholders/128x128.png {% endif %}">
                 </figure>
          </div>
            <div class="media-content">

            <p class="title is-4">{{ profile.user }}</p>
            <p class="subtitle is-6">@{{ profile.team }}</p>

            <a style="margin-top:12px;" class="button is-dark" href="{% url 'editprofile' %}">Edit Profile</a>
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="content">

            <div class="columns">
                <div class="column">
                    <strong><p>Name</p></strong>
                    <br>
                    {% if profile.name != None %}
                    <p>{{ profile.name }}</p>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
                <div class="column">
                    <strong><p>Color</p></strong>
                    <br>
                    {% if profile.color != None %}
                    <p style="background-color: {{ profile.color }}; color: {{ profile.color }};">{{ profile.color }}</p>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
            </div>
            <br>

            <div class="columns">
                <div class="column">
                    <strong><p>Birth Date</p></strong>
                    <br>
                    {% if profile.birth_day != None %}
                    <p>{{ profile.birth_day }}</p>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
                <div class="column">
                    <strong><p>Start Date</p></strong>
                     <br>
                    {% if profile.start_date != None %}
                    <p>{{ profile.start_date }}</p>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
            </div>
            <br>
            <strong><p>Email Address</p></strong>
             <br>
            {% if profile.email_address != None %}
            <p>{{ profile.email_address }}</p>
            {% else %}
            <p></p>
            {% endif %}
            <br>
            <strong><p>Mobile</p></strong>
             <br>
            {% if profile.phone_number != None %}
            <p>{{ profile.phone_number }}</p>
            {% else %}
            <p></p>
            {% endif %}
            <br>
        </div>
      </div>
    </div>

</div>
{% endif %}
</div>
    </div>
{% endblock %}