{% extends 'base.html' %}


{% block content %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css">
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

function getWorkLogContent(targetDate){
var work_log_date = document.getElementsByClassName('work_log_date')[0];
var work_log_content = document.getElementsByClassName('work_log_content')[0];

$.ajax({
                type: 'GET',
                url: '/authy/send_work_log/{{ member.pk }}/' + targetDate,
                dataType: 'json',
                data : {
                    date : targetDate,
                },
                success: function(data){
                work_log_date.innerText = targetDate;

                work_log_content.innerText = data.content;
        }
    })
}


function getWorkCalendar(){
var work_start_date = document.getElementsByName('work_start_date');
var work_end_date = document.getElementsByName('work_end_date');

$.ajax({
                type: 'GET',
                url: '/authy/calc_work_hours',
                dataType: 'json',
                data : {
                    member_pk : {{ member.pk }},
                    start : work_start_date[0].value,
                    end : work_end_date[0].value,
                },
                success: function(data){
                document.getElementsByClassName("total_time")[0].innerText= data.total_working_time;
                var color_list = ['#0096c6', '#ff6939', '#fa3d00', '#6937a1',  '#003458'];

                var titles = Array();
			    for (var i = 0 ; i < data.work_hours_list.length; i++){
                    titles.push({'title' : data.work_hours_list[i].start_time, 'start': data.work_hours_list[i].date, 'end' : data.work_hours_list[i].date, "color": color_list[0] });
                    titles.push({'title' : data.work_hours_list[i].end_time, 'start': data.work_hours_list[i].date, 'end' : data.work_hours_list[i].date, "color": color_list[4] });
			    }

                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events : titles,
                dateClick: function(info) {
                    getWorkLogContent(info.dateStr)
                },
                });

                calendar.render();
        }
    })
}


document.addEventListener('DOMContentLoaded', function() {
    getWorkCalendar()


});

$(document).ready(function(){

    var current_team = document.getElementById('current_team');

    $('#edit_team').change(function(){
        var team =  $('#edit_team').val();

        $.ajax({
          type: 'GET',
          url: '/authy/manage_team/{{ member.pk }}/' + team,
          dataType: 'json',
          success: function(data){
			    if (data === 'success'){
			        current_team.innerText = '팀: ' + team
			    } else {
			        window.location.href='{% url 'schedule-index' %}'
			    }
            }
        });
    });
});



$(document).ready(function(){

    var current_position = document.getElementById('current_position');

    $('#edit_position').change(function(){
        var position =  $('#edit_position').val();

        $.ajax({
          type: 'GET',
          url: '/authy/manage_position/{{ member.pk }}/' + position,
          dataType: 'json',
          success: function(data){
			    if (data === 'success'){
			        current_position.innerText = '직급: ' + position
			    } else {
			        window.location.href='{% url 'schedule-index' %}'
			    }
            }
        });
    });
});

</script>


<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                <a href="{% url 'manage_list' %}" class="button is-primary"><i class="material-icons">arrow_back_ios_new</i></a>
                User Manage Detail
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column is-6">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        <span class="material-icons" style="margin: 0.5rem; vertical-align: middle;">person</span><span style="vertical-align: middle;">
                        {{ member.name }}
                        </span>
                        &nbsp;
                        &nbsp;
                        {% if is_manager %}
                            <a href="{% url 'manage_permit' member.pk %}" class="button is-primary">매니저 권한 없애기</a>
                        {% else %}
                            <a href="{% url 'manage_permit' member.pk %}" class="button is-primary">매니저 권한 주기</a>
                        {% endif %}
                        {% if member.currently_employed %}
                            <a href="{% url 'manage_delete' member.pk %}" class="button is-primary is-light">퇴사 처리</a>
                        {% else %}
                            <a href="{% url 'manage_delete' member.pk %}" class="button is-primary is-light">복귀 처리</a>
                        {% endif %}
                        <a href="{% url 'manage_delete_real' member.pk %}" class="button is-danger is-light">삭제</a>
                    </p>
                    <div class="content">

                            <form method="POST" role="form" action="{% url 'editprofile_manage' member.pk %}">
                                {% csrf_token %}
                                <ul>
                                    <li>
                                        매니저 권한: {% if is_manager %}있음{% else %}없음{% endif %}
                                    </li>
                                    <li>
                                        재직 현황: {% if member.currently_employed == True %}재직 중{% else %}퇴사{% endif %}
                                    </li>
<!--                                    <li id="current_team">-->
<!--                                        {% if member.team %}팀: {{ member.team }}{% else %}팀을 설정해주세요.{% endif %}-->
<!--                                    </li>-->
<!--                                    <li id="current_position">-->
<!--                                        {% if member.position %}직급: {{ member.position }}{% else %}직급을 설정해주세요.{% endif %}-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        {% if member.email_address %}이메일: {{ member.email_address }}{% else %}이메일을 설정해주세요.{% endif %}-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        {% if member.phone_number %}전화번호: {{ member.phone_number }}{% else %}전화번호를 설정해주세요.{% endif %}-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        {% if member.start_date %}입사일: {{ member.start_date }}{% else %}입사일을 설정해주세요.{% endif %}-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        {% if member.birth_day %}생년월일: {{ member.birth_day }}{% else %}생년월일을 설정해주세요.{% endif %}-->
<!--                                    </li>-->
                                    <li>
                                        이메일: {{ profile.email_address }}
                                    </li>
                                    <li>
                                        전화번호: {{ profile.phone_number }}
                                    </li>
                                    <li>
                                        입사일: {{ profile.start_date }}
                                    </li>
                                    <li>
                                        생년월일: {{ profile.birth_day }}
                                    </li>
                                </ul>
                                <input class="button is-primary" type="submit" value="Edit" style="float: right;">
                            </form>


                    </div>
                </div>
                <div class="media-right">
                    <figure class="image is-128x128">
                        <img src="
                        {% if member.picture %}
                        {{ member.picture.url }}
                        {% else %}
                        https://bulma.io/images/placeholders/128x128.png
                        {% endif %}">
                    </figure>
                </div>
            </div>
            <div class="media">
                <div class="media-content">
                    <div class="columns is-multiline">
                        <div class="column is-5">
                            <label class="label">Team</label>
                            <div class="select is-primary">
                                <select name="team" id="edit_team">
                                    {% for team in teams %}
                                    <option {% if member.team == team %} selected="selected" {% endif %}>{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="column is-5">
                            <label class="label">Position</label>
                            <div class="select is-primary">
                                <select name="position" id="edit_position">
                                    {% for position in positions %}
                                    <option {% if member.position == position %} selected="selected" {% endif %}>{{ position.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media">
                <div class="media-content">
                    <form method="POST" role="form">
                        {% csrf_token %}
                        <div class="columns">
                            <div class="column is-4">
                                <div class="field">
                                    <label class="label">Start date</label>
                                    <div class="control">
                                        <input class="input is-primary" type="date" name="work_start_date" value="{{ work_start_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label class="label">End date</label>
                                    <div class="control">
                                        <input class="input is-primary" type="date" name="work_end_date" value="{{ work_end_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label" style="visibility: hidden;">검색</label>
                                    <div class="control">
                                        <button class="button is-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div style="margin-top: 1rem;" class="box notification is-primary">
                        <div class="title total_time has-text-centered"></div>
                    </div>
                </div>
            </div>
                </div>
                <div class="column is-6">

                    <div style="height:100%;" class="box">
                        <p class="title is-4">Work Log</p>
                        <hr>
                        <p class="subtitle is-4 work_log_date"></p>
                        <p class="subtitle is-6 work_log_content"></p>
                    </div>
                </div>
            </div>
        </div>


    <div class="box">
        <div id='calendar'></div>
    </div>
    </div></div>
{% endblock %}