{% extends 'base.html' %}


{% block content %}
<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                User Manage - {{ team }} 팀
            </p>
        </div>
    </div>
    <div class="box">
        <form method="POST" role="form">
            {% csrf_token %}

            <div class="columns is-mobile">
<!--                <div class="column">-->
<!--                    <div class="select is-primary">-->
<!--                        <select name="member">-->
<!--                            <option>all</option>-->
<!--                            {% for team_member in team_members %}-->
<!--                            <option {% if team_member.name == member %}selected="selected" {% endif %}>-->
<!--                                {{ team_member.name }}-->
<!--                            </option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="column is-3 is-offset-9">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="직원 이름" name="search" value="{{ search }}">
                        </div>
                        <div class="control">
                            <button class="button is-primary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="columns is-multiline">
        {% for team_member in result %}
        <div class="column is-one-third">
            <a href="{% url 'manage_detail' team_member.pk %}">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ team_member.name }}</strong> -
                                    <small>
                                        {% if team_member.currently_employed %}
                                            {{ team_member.position }}
                                        {% else %}
                                            퇴사
                                        {% endif %}
                                    </small>
                                </p>
                                <p><i class="material-icons" style="vertical-align: middle;">email</i>: {{ team_member.email_address }}</p>
                                <p><i class="material-icons" style="vertical-align: middle;">phone</i>: {{ team_member.phone_number }}</p>
                            </div>
                        </div>
                        <figure class="media-right">

                            <figure class="image is-64x64">
                                <img src="
                                {% if team_member.picture %}
                                {{ team_member.picture.url }}
                                {% else %}
                                https://bulma.io/images/placeholders/64x64.png
                                {% endif %}">
                            </figure>

                        </figure>
                    </article>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}