{% extends 'base.html' %}
{% block content %}

    <style>
        .profile_body{
            padding-top:220px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .profile{
            width:500px;

        }
    </style>

<div class="profile_body">

    <div class="profile">


        <div class="card">
          <div class="card-content">
            <div class="content">
                <form method="post" action="" role="form" class="col s12">
                    </h3>
                      <div class="row">
                        {% csrf_token %}
                        {{ form.id }}
                        <h3>Change password</h3>
                        <div class="input-field col s12">
                          {{ form.old_password }}
                          <label for="old_password">Old password</label>
                        </div><br>
                      </div>
                        <div class="row">
                        <div class="input-field col s12">
                          {{ form.new_password }}
                          <label for="new_password">New password</label>
                        </div><br>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          {{ form.confirm_password }}
                          <label for="password">Confirm password</label>
                        </div><br>
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                        </div>
                      </div>
                      <button class="button is-primary" type="submit" name="action">Change Password</button>
                </form>

<!--                <form>-->
<!--                    <label for="password1">New Password</label><br>-->
<!--                    <input class="input" type="password" id="password1" ><br><br>-->
<!--                    <label for="password2">Repeat Password</label><br>-->
<!--                    <input class="input" type="password" id="password2" ><br><br>-->
<!--                    <input class="button is-primary" type="submit" value="Change Password">-->

<!--                </form>-->
            </div>
          </div>
        </div>

    </div>


</div>
{% endblock %}