<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style>
       body{
          padding-top:220px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .profile{
            width:500px;

        }
    </style>
</head>
<body>


<!-- 일반 회원이 볼 수 있는 회원 정보 -->
<div class="profile">

    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
            <div class="media-content">
            <p class="title is-4">Name</p>
            <p class="subtitle is-6">@Team</p>
            <button style="margin-top:12px;" class="button is-primary">Edit Profile</button>
          </div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="content">

            <strong><p>Birth Date</p></strong>
            <br>
            <p>1996년 5월 10일</p>
            <br><br>
            <strong><p>Email Address</p></strong>
             <br>
            <p>aaaa@aa.com</p>
            <br><br>
            <strong><p>Mobile</p></strong>
             <br>
            <p>010-0000-0000</p>
            <br>
        </div>
      </div>
    </div>

</div>

</body>
</html>