{% extends 'base.html' %}


{% block content %}
<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                User Manage Detail
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        이름: {{ member.name }}
                        {% if member.currently_employed == False %}
                            - 퇴사
                        {% endif %}
                    </p>
                    <p>팀: {{ member.team }}</p>
                    <p>매니저 권한: {% if is_manager %}있음{% else %}없음{% endif %}</p>
                    <p>직급: {{ member.position }}</p>
                    <p>이메일: {{ member.email_address }}</p>
                    <p>생년월일: {{ member.birth_day }}</p>
                    <p>전화번호: {{ member.phone_number }}</p>
                </div>
                <div class="field">
                    {% if is_manager %}
                        <div class="control">
                            <a href="{% url 'manage_permit' member.pk %}" class="button is-primary">매나저 권한 없애기</a>
                        </div>
                    {% else %}
                        <div class="control">
                            <a href="{% url 'manage_permit' member.pk %}" class="button is-primary">매니저 권한 주기</a>
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    {% if member.currently_employed %}
                        <div class="control">
                            <a href="{% url 'manage_delete' member.pk %}" class="button is-primary is-light">퇴사 처리</a>
                        </div>
                    {% else %}
                        <div class="control">
                            <a href="{% url 'manage_delete' member.pk %}" class="button is-primary is-light">복귀 처리</a>
                        </div>
                    {% endif %}
                </div>
                <div class="media-right">
                    <figure class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div>
            </div>
            <div class="media">
                <div class="media-content">

                    <form method="POST" role="form" action="{% url 'manage_team' member.pk %}">
                        {% csrf_token %}
                        <div class="columns is-multiline">
                            <div class="column is-2">
                                <label class="label">Team</label>
                                <div class="select is-primary">
                                    <select name="team">
                                        {% for team in teams %}
                                        <option {% if member.team == team %} selected="selected" {% endif %}>{{ team.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="column is-1">
                                <div class="field">
                                    <label class="label">수정</label>
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="POST" role="form" action="{% url 'manage_position' member.pk %}">
                        {% csrf_token %}
                        <div class="columns is-multiline">
                            <div class="column is-2">
                                <label class="label">Position</label>
                                <div class="select is-primary">
                                    <select name="position">
                                        {% for position in positions %}
                                        <option {% if member.position == position %} selected="selected" {% endif %}>{{ position.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="column is-1">
                                <div class="field">
                                    <label class="label">수정</label>
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="POST" role="form">
                        {% csrf_token %}
                        <div class="columns">
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label">Start date</label>
                                    <div class="control">
                                        <input class="input is-primary" type="date" name="start_date" value="{{ start_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label">End date</label>
                                    <div class="control">
                                        <input class="input is-primary" type="date" name="end_date" value="{{ end_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">출퇴근 시간 검색</label>
                                    <div class="control">
                                        <button class="button is-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="columns is-mobile">
            <div class="column is-3">
                <b>Date</b>
            </div>
            <div class="column">
                <b>Start Time</b>
            </div>
            <div class="column">
                <b>End Time</b>
            </div>
            <div class="column is-1">
            </div>
        </div>
    </div>

    {% for work_hour in work_hours %}
    <div class="box">
        <div class="columns is-mobile">
            <div class="column is-3">
                <p>{{ work_hour.date }}</p>
            </div>
            <div class="column">
                <input class="input" type="time" value="{{ work_hour.start_time|date:'H:i' }}">
            </div>
            <div class="column">
                <input class="input" type="time" value="{{ work_hour.end_time|date:'H:i' }}">
            </div>
            <div class="column is-1">
                <button class="button is-primary">Edit</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}