{% extends 'base.html' %}
{% block content %}
<style>
.search_body{
      padding-top:120px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.search{
  width:500px;
}
</style>

<div class="search_body">


    <article class="panel is-primary search">


        <!-- 직원 검색 input, 엔터로 검색 가능-->
        <form>
        <p class="panel-heading">
          직원 검색
        </p>

          <div class="control">
            <input class="input is-large" name="q" type="text" placeholder="Name + Enter" value="{{ request.GET.q }}">

          </div>



        </form>

      <!--  직원 검색 결과 프로필-->
        {% for user in users %}
           <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-96x96">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ user.name }}</strong><br> <small>@{{ user.team }}</small>
                    </p>
                  </div>

                </div>
              </article>
          </div>
        {% endfor %}


    </article>

</div>
{% endblock %}