{% extends 'base.html' %}
{% block content %}
<style>
.search_body{
      padding-top:30px;
      display: flex;
      flex-direction: column;

}
.wrappers{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrappers li {
    margin: 8px;


}

<!--.wrappers li {-->
<!-- display: inline-block;-->

<!--}-->

<!--.wrappers{-->
<!--    width:700px;-->
<!--  max-width: 1200px;-->
<!--  margin: 0 auto;-->
<!--  display: grid;-->
<!--  grid-gap: 2rem;-->
<!--}-->
<!--@media (min-width: 300px) {-->
<!--  .card { grid-template-columns: repeat(4, 1fr); }-->
<!--}-->

</style>
<div class="container">
    <br>
<div class="hero is-dark is-small">
        <div class="hero-body">
            <p class="title">
                Search Staff
            </p>
        </div>
    </div>
<div class="tabs">
  <ul>
      <li><a href="{% url 'search' %}">by Name</a></li>
      <li class="is-active"><a href="{% url 'searchall' %}">All Staffs</a></li>

<!--    <li><a href="{% url 'searchselect' %}">by Team</a></li>-->

  </ul>
</div>
<div class="search_body container">



        {% for team in teams %}
            <span style="width:100px;" class="tag is-dark is-light ">{{ team }}</span><br>
              <!--  직원 검색 결과 프로필-->
            <ul class="wrappers">
            {% for user in users %}
                {% if user.team == team  %}

                        <li>

                            <a href="{% url 'userdetail' user.user_id %}" class="box column">

                                  <article class="media">
                                    <div class="media-left">
                                    <figure class="image is-128x128">
                                      <img src="{% if user.picture %}
                              {{ user.picture.url }} {% else %} https://bulma.io/images/placeholders/128x128.png {% endif %}">
                                  </figure>
                                    </div>
                                    <div class="media-content">
                                      <div class="content">
                                        <p>
                                          <strong>{% if user.name != None %}{{ user.name }}
                                          {% else %}
                                          이름 미입력
                                          {% endif %}</strong><br> <small>@{{ user.team }}</small>
                                        </p>
                                      </div>

                                    </div>
                                  </article>

                            </a>
                        </li>

                 {% endif %}
            {% endfor %}
            </ul>
            <br><br><br><br>
        {% endfor %}

        <!-- 직원 검색 input, 엔터로 검색 가능-->




</div>
</div>

{% endblock %}