{% extends 'base.html' %}
{% block content %}
<style>
    .profile_body{
        padding-top:220px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile{
        width:500px;

    }
</style>


<div class="profile_body">
    <div class="profile">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ id }}</p>
                <p class="subtitle is-6">@Team</p>
                <a href="{% url 'changepw' %}" style="margin-top:12px;" class="button is-primary">Change Password</a>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <div class="content">
                <form action="{% url 'editprofile' %}" method="POST">
                    {% csrf_token %}
                    <label for="name">Name</label><br>
                    <input class="input" type="text" id="name" name="name"><br><br>

                    <label for="birth_day">Birth Date</label><br>
                    <input class="input" type="date" id="birth_day" name="birth_day"><br><br>

                    <label for="email_address">Email Address</label><br>
                    <input class="input" type="text" id="email_address" name="email_address"><br><br>

                    <label for="phone_number">Mobile</label><br>
                    <input class="input" type="text" id="phone_number" name="phone_number"><br><br><br>

                    <input class="button is-primary" type="submit" value="Submit">

                </form>
            </div>
          </div>
        </div>

    </div>
</div>
{% endblock %}
