{% extends 'base.html' %}
{% block content %}
<style>
    .profile_body{
        padding-top:120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile{
        width:500px;

    }

</style>

<div class="container">
    <br>
    <div class="hero is-dark is-small">
        <div class="hero-body">
            <p class="title">
                Edit Profile
            </p>
        </div>
    </div>
    <div class="profile_body">
        <div class="profile">

            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">

                            <figure class="image is-128x128">
                                <img src="{% if profile.picture %}
          {{ profile.picture.url }} {% else %} https://bulma.io/images/placeholders/128x128.png {% endif %}">
                            </figure>

                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ id }}</p>
                            <p class="subtitle is-6">@{{ profile.team }}</p>
                            <a href="{% url 'changepw' %}" style="margin-top:12px;" class="button is-dark">Change
                                Password</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <form action="{% url 'editprofile' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="field">
                                프로필 사진 등록<br><br>
                                <div class="file is-boxed">
                                    {{ form.picture }}<br><br>
                                </div>
                            </div>
                            <label for="name">Name</label><br>

                            <input class="input" type="text" id="name" name="name" value="{% if profile.name %}{{ profile.name }}{% else %}{% endif %}">

                            <br><br>


                            <label for="birth_day">Birth Date</label><br>
                            <input class="input" type="date" id="birth_day" name="birth_day"
                                   value="{{ profile.birth_day }}"><br><br>
                            <!--                    2021년 3월 12일-->

                            <label for="email_address">Email Address</label><br>
                            <input class="input" type="text" id="email_address" name="email_address"
                                   value="{{ profile.email_address }}"><br><br>

                            <label for="phone_number">Mobile</label><br>
                            <input class="input" type="text" id="phone_number" name="phone_number" value="{% if profile.phone_number %}{{ profile.phone_number }}{% else %}{% endif %}">
                            <br><br>

                            <label for="start_date">Start Date</label><br>
                            <input class="input" type="date" id="start_date" name="start_date"
                                   value="{{ profile.start_date }}"><br><br><br>

                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ field.label }} - {{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ field.label }} - {{ error|escape }}</strong>
                                    </div>
                            {% endfor %}
                            <br/>
                            {% endif %}

                            <input class="button is-dark" type="submit" value="Submit">

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
