{% extends 'base.html' %}


{% block content %}
<style>
.wrappers{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrappers li {
    margin: 8px;


}


</style>
<div class="container">
    <br>
    <div class="hero is-dark is-small">
        <div class="hero-body">
             <p class="title">
                User Manage
            </p>
        </div>
    </div>
    <div class="box">
        <form method="POST" role="form">
            {% csrf_token %}

            <div class="columns is-mobile">
                <div class="column is-4 is-offset-8" style="display:flex; flex-direction:row; ">
                    {% if user.is_superuser %}
                        <div class="select is-dark">
                            <select name="team_name" style="margin-right:5px;">
                                <option>all</option>
                                {% for team_item in teams %}
                                <option {% if team_item.name == team %}selected="selected" {% endif %}>
                                    {{ team_item.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="직원 이름" name="search" value="{{ search }}">
                        </div>
                        <div class="control">
                            <button class="button is-dark" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="">
        {% for team in teams_exists %}
            <span style="width:100px; height:35px" class="tag is-dark is-light ">
                <p class="subtitle is-5" style="color:white; margin-top:4px;">
                    {{ team }}
                </p>
            </span>
            <ul style="width:100%;" class="wrappers">
                {% for user in result %}
                    {% if user.team == team %}
                     <li>
                            <a href="{% url 'manage_detail' user.pk %}" class="box column">
                                <article class="media">

                                    <div class="media-content">
                                        <figure class="image" style="display:flex; flex-direction:row; justify-content:center;">
                                            <img class="is-rounded" style="width:160px; height:160px;"src="{% if user.picture %}
                                            {{ user.picture.url }} {% else %} https://bulma.io/images/placeholders/128x128.png {% endif %}">
                                        </figure>
                                        <hr>
                                        <div class="content" style="text-align:center;">
                                            <p class="title is-5">
                                                {% if user.name != None %}
                                                    {{ user.name }}
                                                <br>
                                                    {{ user.position }}
                                                {% else %}
                                                    이름 미입력
                                                {% endif %}
                                            </p>
                                            <p></p>
                                            <p class="subtitle is-6">
                                                {{ user.phone_number }}
                                                <br>
                                                {{ user.email_address }}
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        <br><br><br><br>
        {% endfor %}
<!--        {% for team_member in result %}-->
<!--        <div class="column is-one-third">-->
<!--            <a href="{% url 'manage_detail' team_member.pk %}">-->
<!--                <div class="box">-->
<!--                    <article class="media">-->
<!--                        <div class="media-content">-->
<!--                            <div class="content">-->
<!--                                <p>-->
<!--                                    <strong>{% if team_member.name != None %}-->
<!--                                        {{ team_member.name }}-->
<!--                                    {% else %}-->
<!--                                        {{ team_member.user }}-->
<!--                                    {% endif %}</strong> - -->
<!--                                    <small>-->
<!--                                        {% if team_member.currently_employed %}-->
<!--                                            {% if team_member.position != None %}-->
<!--                                            {{ team_member.position }}-->
<!--                                            {% else %}-->
<!--                                            직급 미설정-->
<!--                                            {% endif %}-->

<!--                                        {% else %}-->
<!--                                            퇴사-->
<!--                                        {% endif %}-->
<!--                                    </small>-->
<!--                                </p>-->
<!--                                <p><i class="material-icons" style="vertical-align: middle;">email</i>:{% if team_member.email_address %}-->
<!--                                    {{ team_member.email_address }}-->
<!--                                {% else %}-->
<!--                                    이메일 미입력-->
<!--                                {% endif %}</p>-->
<!--                                <p><i class="material-icons" style="vertical-align: middle;">phone</i>: {% if team_member.phone_number %}{{ team_member.phone_number }}{% else %}전화번호 미입력{% endif %}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <figure class="media-right">-->

<!--                            <figure class="image is-64x64">-->
<!--                                <img src="-->
<!--                                {% if team_member.picture %}-->
<!--                                {{ team_member.picture.url }}-->
<!--                                {% else %}-->
<!--                                https://bulma.io/images/placeholders/64x64.png-->
<!--                                {% endif %}">-->
<!--                            </figure>-->

<!--                        </figure>-->
<!--                    </article>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        {% endfor %}-->
    </div>
</div>
{% endblock %}