{% extends 'base.html' %}


{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function(){

    var current_team = document.getElementById('current_team');

    $('#edit_team').change(function(){
        var team =  $('#edit_team').val();

        $.ajax({
          type: 'GET',
          url: '/authy/manage_team/{{ member.pk }}/' + team,
          dataType: 'json',
          success: function(data){
			    if (data === 'success'){
			        current_team.innerText = '팀: ' + team
			    } else {
			        window.location.href='{% url 'schedule-index' %}'
			    }
            }
        });
    });
});

$(document).ready(function(){

    var current_position = document.getElementById('current_position');

    $('#edit_position').change(function(){
        var position =  $('#edit_position').val();

        $.ajax({
          type: 'GET',
          url: '/authy/manage_position/{{ member.pk }}/' + position,
          dataType: 'json',
          success: function(data){
			    if (data === 'success'){
			        current_team.innerText = '직급: ' + position
			    } else {
			        window.location.href='{% url 'schedule-index' %}'
			    }
            }
        });
    });
});

</script>


<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                <a href="{% url 'manage_list' %}" class="button is-primary"><i class="material-icons">arrow_back_ios_new</i></a>
                User Manage Detail
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        <span class="material-icons" style="margin: 0.5rem; vertical-align: middle;">person</span><span style="vertical-align: middle;">Profile</span>
                        &nbsp;
                        &nbsp;
                        {% if is_manager %}
                            <a href="{% url 'manage_permit' member.pk %}" class="button is-primary">매니저 권한 없애기</a>
                        {% else %}
                            <a href="{% url 'manage_permit' member.pk %}" class="button is-primary">매니저 권한 주기</a>
                        {% endif %}
                        {% if member.currently_employed %}
                            <a href="{% url 'manage_delete' member.pk %}" class="button is-primary is-light">퇴사 처리</a>
                        {% else %}
                            <a href="{% url 'manage_delete' member.pk %}" class="button is-primary is-light">복귀 처리</a>
                        {% endif %}
                    </p>
                    <div style="margin-left: 1rem;">
                        <p>
                        이름: {{ member.name }}
                        {% if member.currently_employed == False %}
                            - 퇴사
                        {% endif %}
                        </p>
                        <p id="current_team">팀: {{ member.team }}</p>
                        <p id="current_position">직급: {{ member.position }}</p>
                        <p>매니저 권한: {% if is_manager %}있음{% else %}없음{% endif %}</p>
                        <p>입사일: {{ member.start_date }}</p>
                        <p>이메일: {{ member.email_address }}</p>
                        <p>전화번호: {{ member.phone_number }}</p>
                        <p>생년월일: {{ member.birth_day }}</p>
                    </div>
                </div>
                <div class="media-right">
                    <figure class="image is-128x128">
                        <img src="
                        {% if member.picture %}
                        {{ member.picture.url }}
                        {% else %}
                        https://bulma.io/images/placeholders/128x128.png
                        {% endif %}">
                    </figure>
                </div>
            </div>
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        <span class="material-icons" style="margin: 0.5rem; vertical-align: middle;">edit</span><span style="vertical-align: middle;">Edit</span>
                    </p>

                    <div class="columns is-multiline">
                        <div class="column is-2">
                            <label class="label">Team</label>
                            <div class="select is-primary">
                                <select name="team" id="edit_team">
                                    {% for team in teams %}
                                    <option {% if member.team == team %} selected="selected" {% endif %}>{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <label class="label">Position</label>
                            <div class="select is-primary">
                                <select name="position" id="edit_position">
                                    {% for position in positions %}
                                    <option {% if member.position == position %} selected="selected" {% endif %}>{{ position.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>



                    <form method="POST" role="form">
                        {% csrf_token %}
                        <div class="columns">
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label">Start date</label>
                                    <div class="control">
                                        <input class="input is-primary" type="date" name="start_date" value="{{ start_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="field">
                                    <label class="label">End date</label>
                                    <div class="control">
                                        <input class="input is-primary" type="date" name="end_date" value="{{ end_date }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">출퇴근 시간 검색</label>
                                    <div class="control">
                                        <button class="button is-primary" type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {% if work_hours %}
        <div class="box">
            <div class="columns is-mobile">
                <div class="column is-3">
                    <b>Date</b>
                </div>
                <div class="column">
                    <b>Start Time</b>
                </div>
                <div class="column">
                    <b>End Time</b>
                </div>
                <div class="column is-1">
                </div>
            </div>
        </div>
    {% else %}
        <div class="box">
            <p class="has-text-centered"><strong>출퇴근 기록이 없습니다.</strong></p>
        </div>
    {% endif %}

    {% for work_hour in work_hours %}
        <div class="box">
            <div class="columns is-mobile">
                <div class="column is-3">
                    <p>{{ work_hour.date }}</p>
                </div>
                <div class="column">
                    <p>{{ work_hour.start_time|date:'A h:i' }}</p>
                </div>
                <div class="column">
                    <p>{{ work_hour.end_time|date:'A h:i' }}</p>
                </div>
                <div class="column is-1">
                    <a href="{% url 'work_hour_edit' work_hour.pk %}" class="button is-primary">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}