{% extends 'base.html' %}


{% block content %}

<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                Work Log List
            </p>
        </div>
    </div>
    <div class="box">

        <form method="POST" role="form">
            {% csrf_token %}

            <div class="columns is-gapless is-multiline">
                <div class="column is-1">
                    <label class="label">Team </label>
                    <div class="select is-primary">
                        <select>
                            <option>all</option>
                            {% for team in teams %}
                            <option>{{ team.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Staff </label>
                    <div class="select is-primary">
                        <select>
                            <option>직원 선택</option>
                            <option>직원1</option>
                            <option>직원2</option>
                            <option>직원3</option>
                        </select>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">Start date </label>
                        <div class="control">
                            <input class="input is-primary" type="date" name="start_date" value="{{ start_date }}">
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">End date </label>
                        <div class="control">
                            <input class="input is-primary" type="date" name="end_date" value="{{ end_date }}">
                        </div>
                    </div>
                </div>
                <div class="column is-2"></div>
                <div class="column">
                    <label class="label">Name </label>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="search" placeholder="직원 이름" value="{{ search }}">
                        </div>
                        <div class="control">
                            <button class="button is-primary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="columns is-multiline">
        {% for work_log in work_logs %}
        <div class="column is-one-quarter">
            <a href="{% url 'work_log_detail' work_log.pk %}">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ work_log.user }}</strong> - <small>{{ work_log.create_time|date }}</small>
                                <br>
                                <br>
                                {{ work_log.content }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <hr>
    <p class="has-text-centered">
        Page {{ work_logs.number }} of {{ work_logs.paginator.num_pages }}.
    </p>
    <br>
    <div class="buttons is-centered">

        {% if work_logs.has_previous %}
            <a href="?page=1" class="button is-primary is-light">&laquo; first</a>
            <a href="?page={{ work_logs.previous_page_number }}" class="button is-primary">previous</a>
        {% endif %}

        {% if work_logs.has_next %}
            <a href="?page={{ work_logs.next_page_number }}" class="button is-primary">next</a>
            <a href="?page={{ work_logs.paginator.num_pages }}" class="button is-primary is-light">last &raquo;</a>
        {% endif %}
    </div>
</div>


{% endblock %}