{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <br>
        <div class="hero is-primary is-small">
            <div class="hero-body">
                <p class="title">
                    Work Log Detail
                </p>
            </div>
        </div>
        
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Writer: {{ request.user.username }}
                </p>
                <p class="card-header-title">
                    Date: {{ work_hour.date }}
                </p>
                <p class="card-header-title">
                    Working Time: {{ work_hour.start_time|time }} ~ {{ work_hour.end_time|time }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        {{ work_log.content }}
                    </p>
                    <br>
                    <time datetime="{{ work_log.create_time }}">Create Time: {{ work_log.create_time }}</time><br>
                    {% if work_log.is_updated %}
                        <time datetime="{{ work_log.update_time }}">Update Time: {{ work_log.update_time }}</time>
                    {% endif %}
                </div>
                {% if work_log.user == request.user %}
                    <div class="content">
                        <div class="field is-grouped">
                            <div class="control">
                                <a href="{% url 'work_log_edit' work_log.pk %}" class="button is-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}