<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Title</title>
</head>
<body>

<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                Work Log List
            </p>
        </div>
    </div>
    <div class="box">
        <div class="columns is-gapless is-multiline">
            <div class="column is-1">
                <div class="select is-primary">
                    <select>
                        <option>팀 선택</option>
                        <option>개발팀</option>
                        <option>기획팀</option>
                        <option>마케팅팀</option>
                    </select>
                </div>
            </div>
            <div class="column">
                <div class="select is-primary">
                    <select>
                        <option>직원 선택</option>
                        <option>직원1</option>
                        <option>직원2</option>
                        <option>직원3</option>
                    </select>
                </div>
            </div>
            <div class="column is-3">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="직원 이름">
                    </div>
                    <div class="control">
                        <a class="button is-primary">
                        Search
                        </a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="columns">
            <div class="column is-2">
                <div class="field">
                    <label class="label">Start date </label>
                    <div class="control">
                        <input class="input is-primary" type="date">
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="field">
                    <label class="label">End date </label>
                    <div class="control">
                        <input class="input is-primary" type="date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="columns is-multiline">
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>윤명훈</strong> - <small>2021.03.19(금)</small>
                                <br>
                                <br>
                                오늘도 많은 것을 했다.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

</body>
</html>