<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Title</title>
</head>

<body>
    <div class="container">
        <br>
        <div class="hero is-primary is-small">
            <div class="hero-body">
                <p class="title">
                    Work Log Detail
                </p>
            </div>
        </div>
        
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Writer: 윤명훈
                </p>
                <p class="card-header-title">
                    <time datetime="2016-1-1"> Date: 2021.03.20</time> 
                </p>
                <p class="card-header-title">
                    <time datetime="2016-1-1"> Working Time: 10:50 AM ~ 06:10 PM</time> 
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <h3>Content</h3>
                    <p>
                        오늘도 많은 것을 했다.
                    </p>
                    <br>
                    <time datetime="2016-1-1">Created: 2021.03.20 - 06:10 PM</time><br>
                    <time datetime="2016-1-1">Updated: 2021.03.20 - 06:12 PM</time>
                </div>
                <div class="content">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary">Edit</button>
                        </div>
                        <div class="control">
                            <button class="button is-primary is-light">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>