{% extends 'base.html' %}


{% block content %}

<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script>

var selected_team = '{{ team }}';
var selected_member = '{{ member }}';

function setUserSelect(){
var user_select = document.getElementById('user_select');
var team_select = document.getElementById('team_select');

var team_id = team_select.options[team_select.selectedIndex].value;


$.ajax({
			type: 'GET',
			url: '/authy/byteam/' + team_id,
			dataType: 'json',

			success: function(data){
			    var length_list = user_select.options.length;
			    for(let i = 1;i<length_list;i++){
                    user_select.remove(1);
			    }
                for(let i = 0;i<data.length;i++){
                var temp = document.createElement("option");
                temp.value = data[i].user_id
                temp.text = data[i].name
                if(temp.value == selected_member || temp.text == selected_member){
                temp.selected = true;
                }
                user_select.add(temp);


                }
	        }
        })
}
function setTeamSelect(){
var team_select = document.getElementById('team_select');

team_select.addEventListener('change', setUserSelect);
$.ajax({
			type: 'GET',
			url: '/authy/api/teams/',
			dataType: 'json',

			success: function(data){
			    var length_list = team_select.options.length;
			    for(let i = 1;i<length_list;i++){
                    team_select.remove(1);
			    }
                for(let i = 0;i<data.length;i++){
                var temp = document.createElement("option");
                temp.value = data[i].id
                temp.text = data[i].name
                if(temp.value == selected_team || temp.text == selected_team){
                temp.selected = true;

                }

                team_select.add(temp);
                setUserSelect();
                }
	        }
        })
}

document.addEventListener('DOMContentLoaded', function() {
setTeamSelect()

});

</script>
<div class="container">
    <br>
    <div class="hero is-dark is-small">
        <div class="hero-body">
            <p class="title">
                Work Log List
            </p>
        </div>
    </div>
    <div class="box">

        <form method="POST" role="form">
            {% csrf_token %}

            <div class="columns is-gapless is-multiline">
                <div class="column is-1">
                    <label class="label">Team </label>
                    <div class="select is-dark">
                        <select name="team" id="team_select">
                            <option>all</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <label class="label">Staff </label>
                    <div class="select is-dark">
                        <select name="member" id="user_select">
                            <option>직원 선택</option>
                        </select>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">Start date </label>
                        <div class="control">
                            <input class="input is-dark" type="date" name="start_date" value="{{ start_date }}">
                        </div>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="field">
                        <label class="label">End date </label>
                        <div class="control">
                            <input class="input is-dark" type="date" name="end_date" value="{{ end_date }}">
                        </div>
                    </div>
                </div>
                <div class="column is-2"></div>
                <div class="column">
                    <label class="label">Name </label>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="search" placeholder="직원 이름" value="{{ search }}">
                        </div>
                        <div class="control">
                            <button class="button is-dark" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="columns is-multiline">
        {% for work_log in work_logs %}
        <div class="column is-one-quarter">
            <a href="{% url 'work_log_detail' work_log.pk %}">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ work_log.user }}</strong> - <small>{{ work_log.create_time|date}}</small>
                                    <br>
                                    <br>
                                    {{ work_log.content }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <hr>
    <p class="has-text-centered">
        Page {{ work_logs.number }} of {{ work_logs.paginator.num_pages }}.
    </p>
    <br>
    <div class="buttons is-centered">

        {% if work_logs.has_previous %}
        <a href="?page=1" class="button is-dark is-light">&laquo; first</a>
        <a href="?page={{ work_logs.previous_page_number }}" class="button is-dark">previous</a>
        {% endif %}

        {% if work_logs.has_next %}
        <a href="?page={{ work_logs.next_page_number }}" class="button is-dark">next</a>
        <a href="?page={{ work_logs.paginator.num_pages }}" class="button is-dark is-light">last &raquo;</a>
        {% endif %}
    </div>
</div>


{% endblock %}