{% extends 'base.html' %}


{% block content %}

<div class="container">
    <br>
    <div class="hero is-primary is-small">
        <div class="hero-body">
            <p class="title">
                Work Hour Edit
            </p>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Name: {{ work_hour.user }}
            </p>
            <p class="card-header-title">
                Date: {{ work_hour.date }}
            </p>
            <p class="card-header-title">
                Working Time: {{ work_hour.start_time|time }} ~ {{ work_hour.end_time|time }}
            </p>
        </header>

        <div class="card-content">
            <form method="post" role="form">
                {% csrf_token %}

                <div class="content">
                    <div class="field">
                        <label class="label">Start Time</label>
                        <div class="control">
                            {{ form.start_time }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">End Time</label>
                        <div class="control">
                            {{ form.end_time }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-primary">Submit</button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button is-primary is-light">Cancel</button>
                        </div>
                        <div class="control">
                            <a href="{% url 'manage_detail' member.pk %}" class="button is-primary is-light">Go To Manage Detail</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

{% endblock %}